table {
  border-collapse: collapse;
  width: 80%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

th, td {
  padding: 12px;
  border: 1px solid #000;
}

/* Header Row */
thead tr {
  background-color: #992d2d;
  color: white;
}

/* Row Colors */
tbody tr:nth-child(1) {
  background-color: #d66a6a;
}

tbody tr:nth-child(2) {
  background-color: #ebcccc;
}

tbody tr:nth-child(3) {
  background-color: #d9d9d9;
}
